<!DOCTYPE html>

<html>

<head> 
    <title>About</title>
    <link rel="icon" href="/img/cloud.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}} 
        <p>This site was create by Faizan Aqeel as a test project, with data being pulled from mapbox.com for the cities coordinates and darksky.net for weather information!!</p>
        <img class="portrait" src="/img/tiger.jpg" > 
    </div>
    
    {{>footer}}
</body>

</html>